<html>
    <head>
        <title>Marta's Story</title>
    </head>
    <body>
        <div>
            <h1><a href="/">I am extremely happy about the incoming year</a></h1>
        </div>

        <div>
            <p>Maybe my work is not yet where I thought that it will be but that's very good indeed</p>
            <h2><a href="https://diversityindata.wixsite.com/website">If it would be there I wouldn't study the best MSc ever</a></h2>
            <p>How I could not see the connections</p>
        </div>

        <div>
            <p>It is a privillage for me to be student in school having their own Applied Centre for Data Science</p>
            <h2><a href="https://www.applieddatascience.qmul.ac.uk/">My second post</a></h2>
            <p>It's so super cool :D</p>
        </div>
    </body>
</html>
